<div>
  <% if @albums.empty? %>
    <p class="fetching-message">
      We're fetching your latests albums based on your top 50 artists. <br />
      This might take a few moments. <br />
      Refresh at will.
    </p>
  <% end %>

  <div class="album-grid">
    <% @albums.each do |album| %>
      <div class="album-grid__cell">
        <%= render 'shared/album_card', album: album %>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @albums %>
