.button {
  display: inline-block;
  color: $color-secondary;
  background: $color-primary;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button--huge {
  font-size: 16px;
  padding: 19px 50px;
  border-radius: 27px;
}
