.flash-message {
  padding: 20px 30px;
  font-weight: 600px;
  font-size: 16px;
  background: #FCB007;
  color: $color-secondary;

  &--success {
    background-color: #7CCC08;
  }

  &--error {
    background-color: #F9282B;
  }
}
