.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  &--space-between {
    justify-content: space-between;
  }

  &--vertical-middle {
    align-items: center;
  }

  &__cell {
    padding: 0 15px;
  }
}
