<header class="header">
  <div class="grid grid--space-between grid--vertical-middle">
    <div class="grid__cell">
      <div class="header__logo">
        <h1>
          <div style="color: #41FF84">Released.</div>
          <div style="color: #0DECDA">today</div>
        </h1>
      </div>
    </div>

    <div class="grid__cell">
      <p class="header__welcome">
        Hello,
        <strong>
          <%= current_user.name.split(' ').first %>.
        </strong>
        <%= link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'header__link' %>
      </p>
    </div>
  </div>
</header>
