<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>Released Today</title>
<!-- Search Engine -->
<meta name="description" content="Receive an email everytime there are new releases from your favourite artists.">
<meta name="image" content="https://released.today/t-cover.png">
<!-- Schema.org for Google -->
<meta itemprop="name" content="Released Today">
<meta itemprop="description" content="Receive an email everytime there are new releases from your favourite artists.">
<meta itemprop="image" content="https://released.today/t-cover.png">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Released Today">
<meta name="twitter:description" content="Receive an email everytime there are new releases from your favourite artists.">
<meta name="twitter:site" content="@todayreleased">
<meta name="twitter:creator" content="@matiasleidemer">
<meta name="twitter:image:src" content="https://released.today/t-cover.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="Released Today">
<meta name="og:description" content="Receive an email everytime there are new releases from your favourite artists.">
<meta name="og:image" content="https://released.today/t-cover.png">
<meta name="og:url" content="http://released.today">
<meta name="og:site_name" content="Released Today">
<meta name="og:type" content="website">
