<div class="ui container center aligned">
  <h1 class="ui header">Welcome to <i>Released</i></h1>
  <div class="ui huge">
    <%= link_to "Sign in with Spotify", user_spotify_omniauth_authorize_path %>
  </div>
</div>
