
$color-primary: #F9282B;
$color-secondary: #FFFFFF;
$color-text: #7E919C;

$background-color: #232A2F;

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Open Sans;
  color: $color-text;
  background: $background-color;
  margin: 0;
  padding: 0;
}

a {
  color: $color-primary;
}

.button {
  display: inline-block;
  color: $color-secondary;
  background: $color-primary;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button--huge {
  font-size: 16px;
  padding: 19px 50px;
  border-radius: 27px;
}

.landing-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up__logo {
  display: block;
  width: 376px;
  height: 50px;
  margin: 0 auto;

  svg {
    width: 100%;
    height: 100%;
  }
}

.sign-up__slogan {
  font-size: 20px;
  font-weight: 300;
  color: $color-secondary;
  margin: 15px 0 50px;
}
