$color-primary: #F9282B;
$color-secondary: #FFFFFF;
$color-text: #7E919C;

$background-color: #232A2F;

@import "shared/global";

@import "shared/container";
@import "shared/grid";
@import "shared/album-grid";

@import "shared/header";
@import "shared/main";

@import "shared/button";
@import "shared/icon";
@import "shared/pagination";
@import "shared/flash-message";
@import "shared/album-card";

@import "shared/landing-page";
@import "shared/sign-up";
