@import "bourbon";

$color-primary: #F9282B;
$color-secondary: #FFFFFF;
$color-text: #666;

$background-color: #1D1D1D;
$font-family: $helvetica;

@import "shared/global";
@import "shared/form";

@import "shared/container";
@import "shared/grid";
@import "shared/album-grid";

@import "shared/header";
@import "shared/main";

@import "shared/icon";
@import "shared/pagination";
@import "shared/flash-message";
@import "shared/album-card";

@import "shared/landing-page";
@import "shared/sign-up";
