<p>Hello <%= @user.first_name %>, looks like you have some new album releases. Awesome!</p>

<br />

<ul>
  <% @releases.each do |album| %>
    <li>
      <%= link_to album.name, "https://open.spotify.com/album/#{album.spotify_id}" %>
      by <%= link_to album.artist.name, "https://open.spotify.com/artist/#{album.artist.spotify_id}" %>
      was released on <%= I18n.l(album.released_at, format: :short_with_year) %>
    </li>
  <% end %>
</ul>

<br />

<p>Do you like what you see? Please tell your friends about Released Today :)</p>

<p>Feel free to reply to this email if you have questions or suggestions. </p>

<p>I hope you enjoy your new releases! <br/> Best,</p>

<p>Matias</p>
